* {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
}

body {
  position: absolute;
  left: 60mm;
  margin: 0;
  width: 210mm;
  height: 297mm;
  background: #ccc;
}

article {
  border-top: 4px solid red;
  border-bottom: 4px solid red;
  width: 211.8mm;
  height: 297mm;
  position: relative;
  background: white;
}

.bottom-image {
  position: absolute;
  top: 258.5mm;
}

.logo-image {
  position: absolute;
  top: 18mm;
  left: 20mm;
}

address {
  position: absolute;
  bottom: 8mm;
  right: 20mm;
}

h1 {
  position: absolute;
  top: 12mm;
  left: 20mm;
  width: 128px;
  height: 128px;
  font-size: 20px;
  letter-spacing: 1px;
  text-align: center;
  padding: 44px 0;
  color: white;
  text-shadow: 1px 1px 1px black;
}

/* Your CSS below here */
