.snake-box-filled {
  min-width: 10px;
  min-height: 10px;
  background-color: "#fbf6db";
}

.snake-box-unfilled {
  min-width: 10px;
  min-height: 10px;
  background-color: black;
}

.snake-box-food {
  min-width: 10px;
  min-height: 10px;
  background-color: pink;
}
