html,
body {
  margin: 0;
  font-family: sans-serif;
}

h1 {
  margin: 0;
  padding: 4vh;
  text-align: center;
  color: white;
  font-weight: bolder;
  letter-spacing: -0.1vw;
  font-size: 2.2em;
}

div {
  margin-top: 5vh;
  margin-bottom: 5.2vh;
  display: flex;
  justify-content: space-evenly;
}

button {
  flex-basis: 17%;
  padding-left: 1.5vw;
  padding-right: 1.5vw;
  padding-top: 0.3vw;
  padding-bottom: 0.3vw;
  font-size: large;
}

h2 {
  margin: 1.2vh;
  margin-top: 3vh;
  margin-bottom: 2.2vh;
}

p {
  margin: 1.2vh;
  font-size: medium;
  font-weight: 554;
  line-height: 2.2vh;
}

header {
  background-color: #823b80;
}

article {
  margin-top: 1.5vh;
  display: flex;
  justify-content: space-around;
}

section {
  background-color: #75f8fc;
  margin-left: 0.7vw;
  margin-right: 0.7vw;
  flex-basis: 25.3%;
  height: 41.5vh;
}

section.largeSection {
  flex: 2;
}