/* General styles */

html {
  font-family: 'Helvetica neue', Arial, 'sans serif';
  font-size: 1em;
}

body {
  width: 70em;
  margin: 0 auto;
}

/* Typography */

h1 {
  font-size: 4em;
}

h2 {
  font-size: 3.2em;
}

p li {
  font-size: 1.7em;
}

/*+++ more specific section styles +++*/

/* header and footer */

header, footer {
  background-color: teal;
  height: 10em;
  padding: 2em;
}

h1 footer p {
  margin: 5em;
}

h1 {
  text-align: center;
}

/* main content */

main {
  padding: 3em;
}

footer {
  font-weight: 600;
}

main p, main li {
  line-height: 2.5;
  font-weight: 600;
}

img {
  float: right;
}